<h1>Rob Botic!</h1>

<form action="/scrape" method="POST">
    <label for="url">Url:</label>
    <input type="text" id="url" name="url" value="https://weekend-booking-sk222sw.c9users.io/" placeholder="http://46.101.232.43/" />
    <input type="submit" value="Scrape" />
</form>

{{#if serverUrl}}
	<p class="serverUrl">Skrapar {{serverUrl}}</p>
{{/if}}

{{{scrape}}}

{{#if showDinner}}
	{{#each dinnerMovieMatch}}
		Ni kan se filmen <i>{{movie}}</i> klockan {{movieStart}}:00 och boka bord på Zekes Bar klockan {{dinnerStart}}:00
	{{else}}
		Ledsen, inga lediga bord efter filmen.
	{{/each}}
{{/if}}
